<footer class="bg-dark p-3">
    <div class="container">
        <div class="row space-between">
            <p class="col-6 m-0">© 2023 TheCocktailDB. Proudly built in the UK </p>
            <div class="col-6 social">
                <ul class="m-0">
                    <li class="fa-brands fa-facebook"></li>
                    <li class="fa-brands fa-twitter"></li>
                    <li class="fa-brands fa-linkedin"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>