<h1>Dettaglio</h1>

<section *ngIf="drinkDetail.length > 0">

    <div class="row">
        <h1>{{drinkDetail[0].strDrink}}</h1>
    </div>

    <div class="row">
        <div class="drink-picture col-6">
            <img [src]="drinkDetail[0].strDrinkThumb" alt="" width="100" height="100">
            <p>{{drinkDetail[0].strTags}}</p>
        </div>
        <div class="drink-ingredients col-6">
            <ul>
                <ul>
                    <li *ngIf="drinkDetail[0].strIngredient1">{{drinkDetail[0].strIngredient1}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient2">{{drinkDetail[0].strIngredient2}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient3">{{drinkDetail[0].strIngredient3}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient4">{{drinkDetail[0].strIngredient4}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient5">{{drinkDetail[0].strIngredient5}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient6">{{drinkDetail[0].strIngredient6}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient7">{{drinkDetail[0].strIngredient7}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient8">{{drinkDetail[0].strIngredient8}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient9">{{drinkDetail[0].strIngredient9}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient10">{{drinkDetail[0].strIngredient10}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient11">{{drinkDetail[0].strIngredient11}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient12">{{drinkDetail[0].strIngredient12}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient13">{{drinkDetail[0].strIngredient13}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient14">{{drinkDetail[0].strIngredient14}}</li>
                    <li *ngIf="drinkDetail[0].strIngredient15">{{drinkDetail[0].strIngredient15}}</li>
                </ul>
            </ul>
        </div>
    </div>
</section>

<section *ngIf="drinkDetail.length > 0">
    <h3>Instructions</h3>
    <p>Nome del cocktail: </p>

    <h2>Glass: {{drinkDetail[0].strGlass}}</h2>

</section>